@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    @apply text-4xl font-bold mb-4;
}

h2 {
    @apply text-2xl font-semibold mb-3;
}

section {
    @apply p-4 mb-6 border-b-2 border-gray-300 bg-gray-800 rounded-md shadow-lg overflow-hidden;
}

select {
    @apply border border-gray-300 rounded-md px-3 py-2 cursor-pointer;

    &:focus {
        @apply outline-none ring-2 ring-blue-500;
    }

    &:disabled {
        @apply bg-gray-500 text-gray-300 cursor-not-allowed;
    }

    option {
        @apply p-2 bg-transparent text-black cursor-pointer;

        &:disabled {
            @apply bg-gray-500 text-black cursor-not-allowed;
        }

        &:checked {
            @apply bg-blue-500 text-black;
        }

        &:hover {
            @apply bg-blue-600 text-black;
        }

        &:active {
            @apply bg-blue-700 text-black;
        }

        &:focus {
            @apply outline-none ring-2 ring-blue-500;
        }
    }
}

table {
    @apply w-full border-collapse table-auto;
}

th, td {
    @apply border border-gray-300 p-2 text-left;
}

th {
    @apply bg-background font-semibold text-foreground;
}

tr:nth-child(even) {
    @apply bg-background/70 text-foreground;
}

tr:nth-child(odd) {
    @apply bg-background/50 text-foreground;
}
